<div class="hola">
    <h1>{{this.data.nombreCompleto}}
        <img src="assets/img/coronaDorada.png" style="width: 50px;">
    </h1>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">
                            Dinero Actual
                            <img  (click)="dialogEnviarDinero('bolsillo')" src="assets/img/sendMoney.png" style="width: 30px;"
                                matTooltip="Enviar dinero a otra persona">
                        </p>
                        <h3 class="card-title">{{this.data.dineroBolsillo | currency}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-university"></i>
                        </div>

                        <p class="card-category">
                            Dinero Banco
                            <img (click)="dialogEnviarDinero('banco')" src="assets/img/sendMoney.png" style="width: 30px;"
                                matTooltip="Enviar dinero a otra persona"></p>
                        <h3 class="card-title">{{this.data.dineroBanco | currency}}</h3>
                    </div>
                    <div class="card-footer">
                        <!--  <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">work</i>
                        </div>
                        <p class="card-category">Trabajo Actual</p>
                        <h3 class="card-title">{{this.data.trabajo}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">phone</i>
                        </div>
                        <p class="card-category"># Telefono</p>
                        <h3 class="card-title">{{data.telefono}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div> -->
                    </div>
                </div>
            </div>
        </div>



        <!--  <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span>
                            increase in today
                            sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Vehiculos Propios</h4>
                        <p class="card-category">Información de tus vehiculos</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Placa</th>
                                <th>Garage</th>
                                <th>Tipo</th>
                            </thead>
                            <tbody>
                                <tr mdbTableCol *ngFor="let data of this.data.vehicles">
                                    <td>{{data.plate}}</td>
                                    <td>{{data.garage}}</td>
                                    <td>{{data.type}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Propiedades Propias</h4>
                        <p class="card-category">Información de tus propiedades</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Nombre</th>
                                <th>Precio</th>
                            </thead>
                            <tbody>
                                <tr mdbTableCol *ngFor="let data of this.data.propiertes">
                                    <td>{{data.name}}</td>
                                    <td>{{data.price | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->